* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
}

body {
  background-image: url('./assets/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title, .scores, .game-info {
  background-color: white;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
hr {
  width: 100%;
  height: 1px;
  color: rgb(41, 41, 41);
}

.scores-left {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  transition: transform 0.1s ease-in;
  cursor: pointer;
}

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card:hover {
  transform: scale(1.2);
}

.card:active {
  transform: scale(1);
}

.card img {
  max-width: 100px;
  height: auto;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title, .scores, .game-info, .card {
  border: 1px solid black;
}

button {
  margin: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button:hover {
  background-color: #ff5858;
  color: white;
}

.final-score, .reward {
  font-size: 30px;
}

  .scores {
    flex-direction: row;
    gap: 30px;
  }

  .scores-left {
    flex-direction: row;
    gap: 10px;
  }

  hr {
    display: none;
  }

  .score-animation {
    position: absolute;
    z-index: 99;
    font-weight: 1000;
    font-size: 30px;
    color: #0075ff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

    animation-name: scoreAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  @keyframes scoreAnimation {
    0% {
      /* Initial state */
      opacity: 0;
      transform: translateY(0); /* Example transform */
    }
    50% {
      opacity: 100;
    }
    100% {
      /* Final state */
      opacity: 0;
      transform: translateY(-10px); /* Example transform */
    }
  }

  .poweredBy {
    font-size: 16px;
    color: white;
    align-self: center;
    margin-top: auto;
    margin-bottom: 15px;
  }

  .poweredBy a {
    text-decoration: none;
    color: white;
  }

  @media screen and (max-width: 450px) {
    h2 {
      font-size: 15px;
    }

    .card {
      max-width: 130px;
    }
    .card h2 {
      word-wrap: break-word;
      white-space: normal;
      word-break: break-all;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fafafa;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
      padding: 10px;
      transition: none;
      cursor: pointer;
    }

    .card:hover {
      transform: none;
    }
    
    .card:active {
      transform: none;
    }

    .score-animation {
      font-size: 100px;
    }
  }